#googleImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22%;
    vertical-align: middle;
  }

  img{
    position: relative;
    top: 50%;
    transform: translateY(200%)
  }

  #searchBar {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(1000%)
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    padding: 8px;
    float: right;
  }

